button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
    height: auto;
    width: auto;
  }
  
  @media screen and (min-width: 700px) {
    button:hover {
      font-size: 35px;
    }
  }