@use "./assets/sass/_variables.scss" as *;
@use "./assets/sass/_typography.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-image: linear-gradient($secondary-color, $primary-color);
    width: 100%;
    min-height: 10vh;
    text-align: center;
}

.tickettracker__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ticketTracker__heading {
    font-size: 4rem;
    padding-top: 20px;
    color: $text-color;
}

@media screen and (min-width: 700px) {
    .app {
        height: auto;
    }
}