@use "./assets/sass/_variables.scss" as *;
@use "./assets/sass/_typography.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-image: linear-gradient($primary-color, $secondary-color);
    width: 100%;
    min-height: 10vh;
    text-align: center;
}

.tickettracker__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.tickettracker__heading {
    font-size: 50px;
    padding: 20px;
}

.tickettracker--scroll {
    height: 120px;
    width: 120px;
}

@media screen and (min-width: 700px) {
    .app {
        height: auto;
    }

    .tickettracker--scroll {
       display: none;
    }
}